<header class="menu d-flex">
    <a href="/">
        <img src="imgs/my-logo-fr_.png" class="logo mt-3" alt="">
    </a>
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item mt-1">
                    <a class="navbar-brand text-dark" href="/">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Réalisations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="photos">Photos</a></li>
                        <li><a class="dropdown-item" href="videos">Vidéos</a></li>
                        <li><a class="dropdown-item" href="social-media">Réseaux Sociaux</a></li>
                        <li><a class="dropdown-item" href="https://jbketele-portfolio.netlify.app/">Développement
                                Web</a></li>
                        <li><a class="dropdown-item" href="design">Design Web</a></li>
                        <li><a class="dropdown-item" href="realisations">Tous</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="propos">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="contact">Contact</a>
                </li>
            </ul>
            <ul class="social">
                <li><a href="https://www.facebook.com/jean.bapt.ketele" target="_blank"><i class="bi bi-facebook"
                            style="font-size: 2rem;"></i></a></li>

                <li><a href="http://instagram.com/jbaptiste.ktl" target="_blank"><i class="bi bi-instagram"
                            style="font-size: 2rem; color: #7232BD;"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCkGqOFKJUpH4UWUP80w8eTQ" target="_blank"><i
                            class="bi bi-youtube" style="font-size: 2rem; color: red;"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jean-baptiste-k%C3%A9t%C3%A8le-46673b233/" target="_blank"><i
                            class="bi bi-linkedin" style="font-size: 2rem;"></i></a></li>
            </ul>
        </div>
    </nav>
</header>